@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss";

@layer base {
  :root {
    --border-color: #e5e7eb;
    --input-color: #e5e7eb;
    --ring-color: #3b82f6;
    --background-color: #ffffff;
    --foreground-color: #000000;
    --primary-color: #3b82f6;
    --primary-foreground-color: #ffffff;
  }

  .dark {
    --border-color: #1f2937;
    --input-color: #1f2937;
    --ring-color: #60a5fa;
    --background-color: #000000;
    --foreground-color: #ffffff;
    --primary-color: #60a5fa;
    --primary-foreground-color: #000000;
  }

  html {
    font-family: "Inter", sans-serif;
  }
  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", sans-serif;
    }
  }
}

/* Add any custom styles below */